@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 275 56% 14%;
    --foreground: 210 40% 96%;
    --card: 275 50% 18%;
    --card-foreground: 210 40% 96%;
    --popover: 275 50% 18%;
    --popover-foreground: 210 40% 96%;
    --primary: 283 100% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 275 50% 22%;
    --secondary-foreground: 210 40% 96%;
    --muted: 275 50% 22%;
    --muted-foreground: 210 20% 60%;
    --accent: 16 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 275 50% 25%;
    --input: 275 50% 25%;
    --ring: 16 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
